<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>Control</servlet-name>
        <servlet-class>accion.Control</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>obtenProductos</servlet-name>
        <servlet-class>accion.obtenProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarProducto</servlet-name>
        <servlet-class>accion.agregarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editarProducto</servlet-name>
        <servlet-class>accion.editarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eliminarProducto</servlet-name>
        <servlet-class>accion.eliminarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Control</servlet-name>
        <url-pattern>/Control</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>obtenProductos</servlet-name>
        <url-pattern>/obtenProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarProducto</servlet-name>
        <url-pattern>/agregarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editarProducto</servlet-name>
        <url-pattern>/editarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eliminarProducto</servlet-name>
        <url-pattern>/eliminarProducto</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
